<img src="<%= movie.poster_small_url %>" alt="<%= movie.poster_small_url.empty? ? 'No' : movie.title %> cover" />

<%= link_to(title_for_movie(movie), movie) %>

<span>(<% if movie.year? %><time><%= movie.year %></time><% else %>no year<% end %>)</span>
