<h1>Movies to see:</h1>

<ol class="movies">
<% for movie in @movies %>
  <li>

    <%= render :partial => 'movie', :locals => { :movie => movie } %>
        
    <ol class="actions">
      <li><a href="#" title="Hey, I watched this!">✓</a></li>
      <li><%= link_to '+', add_to_watch_path(:id => movie.id), :title => "To watch..." %></li>
    </ol>

  </li>
<% end %>
</ol>
